.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-bottom: 20px;
}

.footer_part p{
  color: rgb(129, 124, 124);

}

@media (max-width: 600px) {
  .wrapper p {
    font-size: 10px;
  }
}
